{% extends 'orders/layout.html' %}
{% load static %}

{% block title %} Welcome to Pizzamigo {% endblock %}

{% block body %}
    <section class="bg-1 h-900x main-slider pos-relative">
        <div class="triangle-up pos-bottom"></div>
        <div class="container h-100">
            <div class="dplay-tbl">
                <div class="dplay-tbl-cell center-text color-white">

                    <h1 class="mt-30 mb-15">Pizzas</h1>
                    <h1 class="mt-30 mb-15">Pastas</h1>
                    <h1 class="mt-30 mb-15">Subs</h1>
                    <h1 class="mt-30 mb-15">And more !</h1>
                    <h5><a href="#menu" class="btn-primaryc plr-25"><b>SEE TODAY'S MENU</b></a></h5>
                </div><!-- dplay-tbl-cell -->
            </div><!-- dplay-tbl -->
        </div><!-- container -->
    </section>

    <section id="menu">
        <div class="container">
            <div class="heading">
                <img class="heading-img" src="{% static 'orders/images/heading_logo.png' %}" alt="">
                <h2>Our Menu</h2>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <ul class="selecton brdr-b-primary mb-70">
                        <li><a class="active" href="#" data-select="*"><b>ALL</b></a></li>
                        <li><a href="#" data-select="pizza"><b>PIZZA</b></a></li>
                        <li><a href="#" data-select="sub"><b>SUBS</b></a></li>
                        <li><a href="#" data-select="pasta"><b>PASTA</b></a></li>
                        <li><a href="#" data-select="salad"><b>SALADS</b></a></li>
                        <li><a href="#" data-select="platter"><b>PLATTERS</b></a></li>
                    </ul>
                </div><!--col-sm-12-->
            </div><!--row-->

            <div class="row">
                {% for pizza in pizzas %}
                    <div class="col-md-6 food-menu pizza">
                        <div class="sided-90x mb-30 ">
                            <div class="s-left">
                                <img class="br-3" src="{% static 'orders/images/pizza.jpg' %}" alt="Menu Image">
                            </div><!--s-left-->
                            <div class="s-right">
                                <h5 class="mb-10"> <b>{{ pizza }}</b> </h5>
                                <h5> <button class="color-primary">Add</button> > Small <b class="color-primary float-right">{{ pizza.small_price }}</b></h5>
                                <h5> <button class="color-primary">Add</button> > Large <b class="color-primary float-right">{{ pizza.large_price }}</b></h5>
                            </div><!--s-right-->
                        </div><!-- sided-90x -->
                    </div><!-- food-menu -->
                {% endfor %}

                {% for sub in subs %}
                    <div class="col-md-6 food-menu sub">
                        <div class="sided-90x mb-30 ">
                            <div class="s-left">
                                <img class="br-3" src="{% static 'orders/images/sub.jpg' %}" alt="Menu Image">
                            </div><!--s-left-->
                            <div class="s-right">
                                <h5 class="mb-10"> <b>{{ sub }}</b> </h5>
                                <h5> <button class="color-primary">Add</button> > Small <b class="color-primary float-right">{{ sub.small_price }}</b></h5>
                                <h5> <button class="color-primary">Add</button> > Large <b class="color-primary float-right">{{ sub.large_price }}</b></h5>
                            </div><!--s-right-->
                        </div><!-- sided-90x -->
                    </div><!-- food-menu -->
                {% endfor %}

                {% for pasta in pastas %}
                    <div class="col-md-6 food-menu pasta">
                        <div class="sided-90x mb-30 ">
                            <div class="s-left">
                                <img class="br-3" src="{% static 'orders/images/pasta.jpg' %}" alt="Menu Image">
                            </div><!--s-left-->
                            <div class="s-right">
                                <h5 class="mb-10"> <b>{{ pasta }}</b> </h5>
                                <h5> <button class="color-primary">Add</button> <b class="color-primary float-right">{{ pasta.price }}</b></h5>
                            </div><!--s-right-->
                        </div><!-- sided-90x -->
                    </div><!-- food-menu -->
                {% endfor %}

                {% for salad in salads %}
                    <div class="col-md-6 food-menu salad">
                        <div class="sided-90x mb-30 ">
                            <div class="s-left">
                                <img class="br-3" src="{% static 'orders/images/salad.jpg' %}" alt="Menu Image">
                            </div><!--s-left-->
                            <div class="s-right">
                                <h5 class="mb-10"> <b>{{ salad }}</b> </h5>
                                <h5> <button class="color-primary">Add</button><b class="color-primary float-right">{{ salad.price }}</b></h5>
                            </div><!--s-right-->
                        </div><!-- sided-90x -->
                    </div><!-- food-menu -->
                {% endfor %}

                {% for platter in platters %}
                    <div class="col-md-6 food-menu platter">
                        <div class="sided-90x mb-30 ">
                            <div class="s-left">
                                <img class="br-3" src="{% static 'orders/images/platter.jpg' %}" alt="Menu Image">
                            </div><!--s-left-->
                            <div class="s-right">
                                <h5 class="mb-10"> <b>{{ platter }}</b> </h5>
                                <h5> <button class="color-primary">Add</button> > Small <b class="color-primary float-right">{{ platter.small_price }}</b></h5>
                                <h5> <button class="color-primary">Add</button> > Large <b class="color-primary float-right">{{ platter.large_price }}</b></h5>
                            </div><!--s-right-->
                        </div><!-- sided-90x -->
                    </div><!-- food-menu -->
                {% endfor %}

            </div><!-- row -->
        </div><!-- container -->
    </section>

{% endblock %}